@model TimeRecord.Web.Data.Entities.ExpenseTypeEntity

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="Active" checked="checked" /> @Html.DisplayNameFor(model => model.Active)
        </label>
    </div>
</div>